--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
transformers==4.45.1
loralib==0.1.2
gym==0.26.2
stable_baselines3==2.4.0a7
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
yfinance==0.2.43
stockstats==0.5.4
huggingface-hub==0.25.1
tokenizers==0.20.0
tqdm==4.66.5
